<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone 3D</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <script src="three.js"></script>
    <script type="module" src="GLTFLoader.js"></script>
    <script type="module" src="drone.js"></script>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/archive/6/65/20170508182157%21Ufu_logo.svg/120px-Ufu_logo.svg.png">
    <center>
        <h1>Imagem de drone em GLTF</h1>
        <h2>Linha azul: EIXO Y</h2>
        <h2>Linha vermelha: X </h2>
    </center>
</body>
</html>