<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drone 3D</title>
    <link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
    <script src="three.js"></script>
    <script type="module" src="GLTFLoader.js"></script>
    <script type="module" src="drone.js"></script>
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/archive/6/65/20170508182157%21Ufu_logo.svg/120px-Ufu_logo.svg.png" width="80px" height="80px">
    <center>
        <p class="p1">Imagem de drone em GLTF</p>
        <p class="p2">Movimento do drone ocorrendo no eixo z!</p>
    </center>
    <p class="p3">GLTF: É um formato de arquivo padrão para cenas e modelos tridimensionais. 
        Um arquivo glTF usa uma das duas extensões de arquivo possíveis: .gltf ou .glb.
       Os arquivos .gltf e .glb podem fazer referência a recursos binários e de textura 
       externos</p>
</body>
</html>