<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Testando GUI</title>
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <script src="three.js"></script>
    <script type="module" src="three.module.js"></script>
    <script type="module" src="OrbitControls.js"></script>
    <script type="module" src="dat.gui.module.js"></script>
    <script type="module" src="cubo.js"></script>
  </body>
</html>
