<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Várias figuras em posições diferentes girando em seu eixo</title>
    <style>
      body {
        margin: 0;
      }
    </style>
  </head>
  <body>
    <script src="three.js"></script>
    <script src="dat.gui.js"></script>
    <script src="controle_velocidade_giro.js"></script>
  </body>
</html>
